<ion-header>
  <ion-toolbar>
    <img src="./assets/images/logo.jpg" alt="" class="logo" slot="start">
    <ion-searchbar placeholder="Chercher"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-slides pager [options]="{autoplay: {disableOnInteraction:false}, loop:true}">
      <ion-slide *ngFor="let banner of [1,2,3,4]">
        <img src="./assets/images/{{banner}}.jpg" alt="">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" *ngFor="let item of res">
        <ion-card>
          <img src="{{item.imageUrl}}" alt="">
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>